body {
  background-color: rgb(253, 251, 251);        
}

#cabecalho {
  top: 0;
  position: fixed; 
  background-color: aqua;
  text-align: center;
  width: 100%;
}

#minha_foto {
  width: 300px;  
}

article {
  padding: 30px;
  border: 3px;
  border-color: black;
  border-style: double;
  margin: 10px;
  text-align: center;
}